.icon-box {
   display: flex;
   flex-direction: column;

   &__icon {
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
   }

   &--light {
      * {
         color: $white;
      }
   }
}

.fa-brands,
.fa-solid {
   margin-right: 0.2rem;
}
