.bg {
    &-primary {
        background-color: $primary-color;
    }

    &-secondary {
        background-color: $secondary-color;
    }

    &-gray {
        background-color: $medium-gray;
    }
}

.text {
    &-primary {
        color: $primary-color;
    }

    &-secondary {
        color: $secondary-color;
    }

    &-white {
        color: white;
    }
}

@include breakpoint(large) {
    .large {
        &-text {
            &-primary {
                color: $primary-color;
            }

            &-secondary {
                color: $secondary-color;
            }

            &-white {
                color: white;
            }
        }
    }
}

@include breakpoint(medium) {
    .medium {
        &-text {
            &-primary {
                color: $primary-color;
            }

            &-secondary {
                color: $secondary-color;
            }

            &-white {
                color: white;
            }
        }
    }
}


.text-decoration {
    &-underline {
        text-decoration: underline !important;
    }

    &-none {
        text-decoration: none !important;
    }
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

body {
    .square-img {
        @include img-fixed-size(100%);
    }

    .rectangle-img {
        @include img-fixed-size(60%);
    }
}

.img-zoom {
    img {
        transition: transform .6s;
    }

    &:hover img {
        transform: scale(1.05);
    }
}

.disable {
    &-small {
        @include breakpoint(small down) {
            display: none !important;
        }
    }

    &-medium {
        @include breakpoint(medium down) {
            display: none !important;
        }
    }
}

.round {
    border-radius: 100%;
    overflow: hidden;
}