/* Notes  ________________________________________________________ 
	
	Styles to be moved into SCSS files;  but keep the empty breakpoints here.
	
*/



/* Globals  ________________________________________________________ */

:root {
  --primary: black;
  --secondary: white;
}

p, ul, ol, blockquote, h1, h2, h3, h4, h5, h6 { }
h1, h2, h3, h4, h5, h6 {}

a {}
a:hover { opacity: 0.7; }

i.fa-solid, svg.fa-solid { margin-right: 0.25em; }

.grid-container { max-width: 1400px; }
.grid-container-narrow { max-width: 900px;  margin: 0 auto; }

a.button, button, input[type=button], input[type=submit] {
	background: var(--primary);
	color: white;
}
a.button:hover { opacity: 0.8; }


/* Layout  ________________________________________________________ */

body { background: white; }

.main {}
.content {}
.sidebar {}
.sidebar-left {}
.sidebar-right {}


/* Banner  ________________________________________________________ */


/* Footer  ________________________________________________________ */

.footer {}
.footer-top { background: #CCC; color: black; }
.footer-bottom { background: black; color: white; }


/* Cards  ________________________________________________________ */

a.card { text-decoration: none; }
.card-section span { display: block; }
span.name { font-weight: bold; }

.card.callout { height: 100%; }


/* Lists & grids  ________________________________________________________ */

ul.simple { list-style: none;  padding: 0;  margin: 0 0 1em; }
ul.simple li { list-style: none; padding: 0;  margin: 0 0 0.25em; }

/* Tabs & accordions  ________________________________________________________ */


ul.accordion {}
ul.accordion li {}
ul.accordion .accordion-title { padding: 1rem; text-decoration: none; font-weight: bold;  border-color: #EEE; }
ul.accordion .accordion-content { padding: 1rem; border-color: #EEE;  }
ul.accordion .accordion-content img {
	width: 30%;
	float: right;
	margin: 0 0 1rem 1rem;
}
ul.accordion .accordion-content p:last-child { margin-bottom: 0; }
ul.accordion .accordion-content ul, ul.accordion .accordion-content ol { margin-bottom: 1.5rem; }

ul.accordion :last-child > .accordion-title, ul.accordion :last-child > .accordion-content:last-child { border-bottom-color: #EEE;  }

/* Share  ________________________________________________________ */

.share-wrapper { margin-top: 1.5rem; }
.share-wrapper h2 {
	display: inline-block;
	margin-top: 1rem;
	font-size: 1.1rem;
	text-transform: uppercase;
}

ul.menu.share { }
ul.menu.share li { margin: 0 0.5em 0 0; }
ul.menu.share li a { padding: 0;  font-size: 1.8em; }



/* Awards  ________________________________________________________ */

.award span { display: block; }
.award .position { font-weight: bold; }


/* Gravity Forms  ________________________________________________________ */


body .gform_wrapper .field_description_below .gfield_consent_description, body .gform_wrapper .gfield_consent_description,
body .gform_wrapper.gravity-theme .gfield_consent_description { 
	border: 0; font-size: 1em; padding: 0;
}



/* Foundation breakpoints  ________________________________________________________ */


/* Small __________________ */

@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium __________________ */

@media only screen and (min-width: 40.063em) { 
	
	ul.two-col { column-count: 2; }
	ul.three-col { column-count: 3; }
	
	.medium-align-top { -webkit-box-align: start; align-items: flex-start; }
	.medium-align-bottom { -webkit-box-align: end;  align-items: flex-end; }
	
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large __________________ */

@media only screen and (min-width: 64.063em) { 
	
	.large-align-top { -webkit-box-align: start;  align-items: flex-start; }
	.large-align-bottom { -webkit-box-align: end;  align-items: flex-end; }
	
	
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* X Large __________________ */

@media only screen and (min-width: 90.063em) { 
	
	.x-large-align-top { -webkit-box-align: start;  align-items: flex-start; }
	.x-large-align-bottom { -webkit-box-align: end;  align-items: flex-end; }
	
	
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XX Large __________________ */

@media only screen and (min-width: 120.063em) { 
	
	.xx-large-align-top { -webkit-box-align: start;  align-items: flex-start; }
	.xx-large-align-bottom { -webkit-box-align: end;  align-items: flex-end; }
	
	
} /* min-width 1921px, xxlarge screens */



